body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #007BFF;
}

form {
    text-align: center;
}

label, input, button {
    display: block;
    margin: 10px auto;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    margin: 20px 0;
    color: #007BFF;
}

.seat-columns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.seat-column, .data-column {
    text-align: center;
    flex: 1;
    margin: 0 10px; /* Adjust the margin for spacing */
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
    column-count: 2;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 1.2;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

li:empty {
    background-color: #f4f4f4;
    color: #333;
    border: 2px solid #ccc;
    cursor: not-allowed;
}

li:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
